@using X.PagedList
@using MVCStudentsApp.Models;

@model X.PagedList.IPagedList<PersonWithRole>


<h1>Index Students</h1>
<p>
    <a id="NewStudent" asp-action="Add">Create New</a>
</p>
<form method="get" action="@Url.Action("Index")">
    <input type="text" name="search" placeholder="Search.." value="@ViewBag.Search" />
    <button type="submit">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.person.Id</td>
                <td>@item.person.FirstName</td>
                <td>@item.person.LastName</td>
                <td>@item.person.DateOfBirth.ToString("MM-dd-yyyy")</td>
                <td>@item.role.LabelRole</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.person.Id" id="details_button" class="action-link">
                        <img class="details_img" src="~/images/Details.png" alt="Details" title="Details" />
                    </a> |
                    <a asp-action="Edit" asp-route-id="@item.person." class="action-link">
                        <img src="~/images/Edit.png" alt="Edit" title="Edit" />
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.person.Id" class="action-link">
                        <img src="~/images/Delete.png" alt="Delete" title="Delete" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.HasPreviousPage)
    {
        <a href="?page=@(Model.PageNumber - 1)&search=@ViewBag.Search" class="page_button" id="previous_button">Previous</a>
    }

    @for (int i = 1; i <= Model.PageCount; i++)
    {
        if (i == Model.PageNumber)
        {
            <span class="current_page_button">@i</span>
        }
        else
        {
            <a href="?page=@i&search=@ViewBag.Search" class="page_button">@i</a>
        }
    }

    @if (Model.HasNextPage)
    {
        <a href="?page=@(Model.PageNumber + 1)&search=@ViewBag.Search" class="page_button" id="next_button">Next</a>
    }
</div>
